# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: sungchi Blog
email: sungchi9@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  소셜미디어 덕분해 뜸해진 블로그입니다.
baseurl: "" # the subpath of your site, e.g. /blog
url: https://plan9.kr  
twitter_username: sungchi
github_username:  sungchi
timezone:    Asia/Seoul
future:      true
google_analytics: true

# Build settings
# theme: minima
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-paginate

paginate: 5
permalink:   /:categories/:title
# plugins: [jekyll-paginate]
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
