<nav id="dl-menu" class="dl-menuwrapper" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">블로그</a></li>
		<li>
			<a href="/career">우성섭입니다.</a>
		</li>
		<li>
			<a href="#">포스트</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/archive/">모든 글</a></li>
				<li><a href="{{ site.url }}/tags/">모든 태그</a></li>
			</ul>
		</li>
		{% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
