<!DOCTYPE html>
<html lang="ko">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Sungchi" />
   <link href="http://feeds.feedburner.com/Plan9Blog" rel="alternate" title="Sungchi's Blog" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="shortcut icon" href="favicon.ico" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Sungchi's Blog</a>
    <a class="extra" href="/">home</a>
	<a class="extra" href="#blog">blog</a>
	<a class="extra" href="#project">project</a>
	<a class="extra" href="#stalk">stalk</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
	  <a name="stalk"></a>
      <p>
        안양 시민<br />
        Works at Blogcocktail<br />
        sungchi9@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/sungchi/">github.com/sungchi</a><br />
        <a href="http://twitter.com/sungchi/">twitter.com/sungchi</a><br />
        <a href="http://facebook.com/sungchi/">facebook.com/sungchi</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/Plan9Blog">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29680537-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
