<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">

  {%- include head.html -%}

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRTZNG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {%- include header.html -%}

    
    <main>
        {{ content }}
    </main>


    {%- include footer.html -%}

  </body>

</html>
